{% extends 'formidler.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block left %}

<p>Der er endnu ingen offentlige brugerprofiler ! </p>

<p>eller</p> 

<p>en liste med brugerprofiler</p>

{% endblock %}
