{# snippet/modalfooter #}

<div class="modal-footer">
  <button class="btn btn-sm btn-outline-success shadow"  type="submit"><i class="bi bi-check-lg"></i></button>
  <button class="btn btn-sm btn-outline-danger shadow"  type="submit"><i class="bi bi-x-lg"></i></button>
  <button class="btn btn-sm btn-outline-primary shadow"  type="submit"><i class="bi bi-question-lg"></i></button>
</div>
