{# snippet/pagination.html.twig #}

{#
    TODO: JavaScript funktionalitet
#}

<nav class="d-flex justify-content-between" aria-label="Page navigation">

  <ul class="pagination pagination-sm shadow">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item disabled"><span class="page-link">Page</span></li>
    <li class="page-item">
      <input type="number" min=1 max=245 class="page-link" placeholder="2" aria-label="Username">
    </li>
    <li class="page-item disabled"><span class="page-link">of 245</span></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>

  <ul class="pagination pagination-sm shadow">
    <li class="page-item disabled"><span class="page-link">Results per Page:</span></li>
    <li class="page-item">
      <select class="page-link">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option >100</option>

      </select>
    </li>
  </ul>
</nav>

