
{% extends 'base.html.twig' %}

{% block title %} About Overlund {% endblock %}

{% block body %}

<main class="card container dd-flex justify-content-center">
  <div class="card-body w-50 shadow-lg p-3 mb-5 bg-body rounded">
    <h1 class="card-title text-center">{{ product }}</h1>
    <div class="card-text">{{ description | trans}}</div>
    <div class="card-text">{{ version }}</div>
    <div class="card-text">{{ copyright }}</div>
  </div>
</main>

{% endblock %}
