<!DOCTYPE html>
<html lang="en">

  {# Document Header #}

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="application-name" content="Codename Overlund">
    <meta name="description" content="Overlund Gedcom Editor">
    <meta name="generator" content="Symfony 6.1">
    <meta name="keywords" content="Gedcom Editor">
    <meta name="author" content="Michael Lindhardt Rasmussen">
    <meta http-equiv="refresh" content="300; url={{ app.request.headers.get('referer') }}" />

    <title>Offline</title>

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22>
      <text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    {# Vi anvender Bootstrap - aktuelt version 5.2.1 #}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  </head>
  <body>

    <div class="d-flex justify-content-center">
      <div class="card w-50" data-controller="editor">
        <h2 class="card-header text-center">
          This website is temporarily unavailable
        </h2>
        <div class="card-body">
          <div class=" alert alert-info text-center">


            This website is down for maintenance. You should try again in a few minutes.
          </div>
        </div>
        <!--div class="card-footer d-grid d-md-flex gap-2 justify-content-md-end">
        </div-->
      </div>
    </div>

  </body>
</html>