{% extends 'formidler.html.twig' %}

{% block title %}{{ documentTitle }}{% endblock %}

{% block left %}
	<h2>Indledning</h2>
	<p>
        Her skal ligge en beskrives af de muligheder systemet kan tilbyde registrerede brugere.
	</p>
	<p>
		Siden ejes af systemadministrator
	</p>
	<p>
		En rullemenu med oversigt over systemets offentligt tilgængelige slægtstræer giver adgang videre ind i systemet...
	</p>
{% endblock %}


{% block right %}

	<p>
        Mulighed for at arbejde i demo systemet
	</p>
    <p>
        Link til den endelige anmodning om registrering
    </p>    

{% endblock %}

