{# formidler/favoritter.html.twig #}


<div class="card mb-3 shadow">
  <h6 class="card-header text-bg-info mb-3">Favoritter</h6>
  <div class="card-body text-bg-warning mb-3" style="min-height: 50px">
    Nr 1
  </div>
  <div class="card-body text-bg-warning mb-3" style="min-height: 50px">
    Nr 2

  </div>
  <div class="card-body text-bg-warning mb-3" style="min-height: 50px">
    Nr 3

  </div>
  <div class="card-body text-bg-warning mb-3" style="min-height: 50px">
    Nr 4

  </div>
  <div class="card-body text-bg-warning mb-3" style="min-height: 50px">
    Nr 5

  </div>
  <div class="card-body text-bg-warning mb-3" style="min-height: 50px">
    Nr 6

  </div>
  <!--div class="card-footer d-grid d-md-flex gap-2 justify-content-md-end">
    {% block cardfooter %}
    <button class="btn btn--sm btn-outline-success"  type="submit"><i class="bi bi-check-lg"></i></button>
    <button class="btn btn--sm btn-outline-danger"  type="submit"><i class="bi bi-x-lg"></i></button>
    <button class="btn btn--sm btn-outline-primary"  type="submit"><i class="bi bi-question-lg"></i></button>
    {% endblock cardfooter %}
  </div-->
</div>
