
<div class="card mb-3 shadow">
  <h6 class="card-header text-bg-info ">Et Modul</h6>
  <div class="card-body" style="min-height: 100px">

    Hello there


  </div>
  <!--div class="card-footer d-grid d-md-flex gap-2 justify-content-md-end">
    {% block cardfooter %}
    <button class="btn btn--sm btn-outline-success"  type="submit"><i class="bi bi-check-lg"></i></button>
    <button class="btn btn--sm btn-outline-danger"  type="submit"><i class="bi bi-x-lg"></i></button>
    <button class="btn btn--sm btn-outline-primary"  type="submit"><i class="bi bi-question-lg"></i></button>
    {% endblock cardfooter %}
  </div-->
</div>
