{% extends 'base.html.twig' %}

{% block title %}Form Type A{% endblock %}

{% block body %}
  <div class="row vh-100 align-items-center justify-content-center">
    <div class="col-sm-6">
      <div class="card shadow w-100">
        <div class="card-header h4 text-center">Formular Type A</div>
        <div class="card-body">
          <div class="row">
            <div class="col-10">
                Indhold
            </div>
            <div class="col-2 text-center">
              <button role="button" class="btn btn-outline-dark btn-light btn-sm shadow w-100 mb-2" data-action="click->editor#notes" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ 'New Project'|trans }}">New</button>
              <button type="button" class="btn btn-outline-dark btn-light btn-sm shadow w-100 mb-2" data-action="click->editor#sourceCitations" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ 'Open system in demo mode'|trans }}">Demo</button>
            </div>
          </div>





        </div>

        <div class="card-footer d-grid d-md-flex gap-2 justify-content-md-end">
          <button class="btn btn-sm shadow btn-outline-success" type="submit"><i class="bi bi-check-lg"></i></button>
          <button class="btn btn-sm shadow btn-outline-danger" type="button"><i class="bi bi-x-lg"></i></button>
          <button class="btn btn-sm shadow btn-outline-primary" type="button"><i class="bi bi-question-lg"></i></button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
