{% extends 'base.html.twig' %}

{% block title %}
  Formidler Type A
{% endblock %}

{% block body %}
  <div class="container-xl">
        <div class="card shadow col-12" style="height: 400px">
          <div class="card-header h4 text-center">Formidler Type A</div>
          <div class="card-body">Brødtekst</div>

                    <div class="card-footer text-bg-info bg-opacity-50 text-center">
                      Kolofon
          </div>


  </div>
{% endblock body %}
