{% extends 'base.html.twig' %}

{% block title %}
  Formidler Type B
{% endblock %}

{% block body %}
  <div class="container-xl">
    <!-- div class="row _align-items-center _justify-content-center" -->
    <!-- div class="col-12" -->
    <div class="card min-vh-100 shadow col-12">
      <div class="card-header h4 text-center">Formidler Type A</div>
      <div class="card-body">
        <div class="row">
            <div class="col-8">
                Venstre kolonne
            </div>    
            <div class="col-4">
                Højre kolonne
            </div>    
        </div>
      </div>

      <div class="card-footer d-grid d-md-flex gap-2">Footer</div>
    </div>
    <!-- /div -->
    <!-- /div -->
  </div>
{% endblock %}
