{% extends 'base.html.twig' %}

{% block title %}
  Formidler Type B
{% endblock %}

{% block body %}
  <div class="container-xl">
    <div class="card shadow col-12" style="height: 400px">
      <div class="card-header h4 text-center">Formidler Type B</div>
      <div class="card-body">
        <div class="row">
          <div class="col-8">Venstre kolonne brødtekst</div>
          <div class="col-4">Højre kolonne brødtekst</div>
        </div>
      </div>

      <div class="card-footer text-bg-info bg-opacity-50 text-center">Kolofon</div>
    </div>
  </div>
{% endblock %}
