{# templates/editor/buttonline-right.html.twig #}


<div class="bgg-warning bg-opacity-25 bgg-gradient mhhhh-100 sshadow-lg p-3 mmb-5 rounded d-flex justify-content-around">
    <button type="button"
            class="btn btn-outline-dark"
            data-bs-toggle="tooltip"
            title="Add new family"
            data-action="editor#newFamily"
            data-editor-myurl-param="{{ url('api_family_new', {url: 'Project01'} ) }} ">
            👪
      <!-- i class="bi bi-people-fill"></i></button -->
    <button type="button" class="btn btn-outline-dark" data-bs-toggle="tooltip" title="Search for family"><i class="bi bi-search"></i></button>
    <button type="button" class="btn btn-outline-dark" disabled><i class="bi bi-arrow-left"></i></button>
    <button type="button" class="btn btn-outline-dark"><i class="bi bi-arrow-right"></i></button>
    <button type="button" class="btn btn-outline-dark"><i class="bi bi-x-lg text-danger"></i></button>
    <button type="button" class="btn btn-outline-dark"><i class="bi bi-file-lock text-danger"></i></button>
</div>

