{# templates/editor/buttonline-right.html.twig #}

<div class="card border-dark bg-success bg-opacity-25 bg-gradient mhhhh-100 shadow-lg p-3 mb-5 rounded">
  <div class="card-footer border-dark d-flex justify-content-between">
    <button type="button" class="btn btn-light" data-bs-toggle="tooltip" title="Add new family" onclick="addFamily()"><i class="bi bi-person-plus"></i></button>
    <button type="button" class="btn btn-light" data-bs-toggle="tooltip" title="Search for family"><i class="bi bi-search"></i></button>
    <button type="button" class="btn btn-light" disabled><i class="bi bi-arrow-left"></i></button>
    <button type="button" class="btn btn-light"><i class="bi bi-arrow-right"></i></button>
    <button type="button" class="btn btn-light"><i class="bi bi-person-x"></i></button>
    <button type="button" class="btn btn-light"><i class="bi bi-file-lock"></i></button>
  </div>
</div>

