{# templates/editor/family.html.twig #}

{#

#}



<div class="card border-dark alert-success mhh-100 shadow-sm p-3 mb-5 rounded">

	<div class="card-header border-dark">
		[F657] <span class='I201'>Anders Hansen Nielsen</span> + <span class='I202'>Anne Margrethe Sørensdatter</span>
	</div>


		{{ include('editor/family-section01.html.twig') }}

		{{ include('editor/family-section02.html.twig') }}

		{{ include('editor/family-section03.html.twig') }}




	<div class="card-footer border-dark d-flex justify-content-between">
		<!-- div class="btn-group" role="group" aria-label="Basic example" -->
			<button type="button" class="btn btn-sm btn-primary" onclick="addFamily()"><i class="bi bi-person-plus"></i></i></button>
			<button type="button" class="btn btn-sm btn-primary"><i class="bi bi-binoculars"></i></i></button>
			<button type="button" class="btn btn-sm btn-primary" disabled><i class="bi bi-arrow-left"></i></button>
			<button type="button" class="btn btn-sm btn-primary"><i class="bi bi-arrow-right"></i></button>
			<button type="button" class="btn btn-sm btn-primary"><i class="bi bi-person-x"></i></button>
			<button type="button" class="btn btn-sm btn-primary"><i class="bi bi-file-lock"></i></button>
		<!-- /div -->

	</div>

</div>


