{# templates/editor/individual.html.twig #}

{#

#}

<style>

  input[type="checkbox"]:checked + .btn
  {
    background-color: var(--bs-warning) ;
  }

</style>


<div class="card border-dark alert alert-primary bg-gradient bg-opacity-25 shadow-lg p-3 mb-5  rounded " id="birger" >

	<div class="row card-header border-dark">
	  <div class="col-9 text-nowrap overflow-hidden">
		[I2031] <span class="mlr-lock">Anders Hansen Nielsen</span>
		</div>
		<div class="col-3 text-end" aria-label="Restriction">
		  <input type="checkbox" class="mlr-lock btn-check" id="btn-check11" autocomplete="off" value="LOCKED">
			  <label class="mlr btn btn-light btn-sm" for="btn-check11"><i class="bi-unlock"></i></label>
		  </span>
      <span>
        <input type="checkbox" class="btn-check" id="btn-check12" autocomplete="off">
			  <label class="btn btn-light btn-sm" for="btn-check12">T</label>
		  </span>
      <span>
        <input type="checkbox" class="btn-check" id="btn-check13" autocomplete="off">
			  <label class="btn btn-light btn-sm" for="btn-check13">U</label>
    </div>
	</div>


		{{ include('editor/individual-section01.html.twig') }}

		{{ include('editor/individual-section02.html.twig') }}

		{{ include('editor/individual-section03.html.twig') }}


</div>


<script>

  function myNewIndividual()
  {
      document.getElementById('idYYY0').value= 'Test02';

  }


    function ___newIndividual()
    {
      document.getElementById('idXXX0').value= 'Test';

      // (A) FETCH "DUMMY.HTML"
      await fetch({{ url('editorNewIndividual', {url: 'Project01'} ) }})

      // (B) RETURN THE RESULT AS TEXT
      .then((result) => {
        if (result.status != 200) { throw new Error("Bad Server Response"); }
        return result.text();
      })

      // (C) PUT LOADED CONTENT INTO <DIV>
      .then((content) => {
        document.getElementById("villy").innerHTML = content;
      })

      // (D) HANDLE ERRORS - OPTIONAL
      .catch((error) => { console.log(error); });

      }



</script>
