{# templates/editor/individual-section03.html.twig #}

{#

#}



{%
	set iEvent= [
			[ 'Birth',  '25 August 1893',  'Svinninge',],
			[ 'Christening',  '24 September 1893',  'Nørre Asmindrup',],
			[ 'Residense',  '1896',  'Nykøbing Sjælland',],
			[ 'Census',  '1901',  'Algade 21',],
			[ 'Census',  '1906',  'Algade 21',],
			[ 'Census',  '1911',  'Algade 31',],
			[ 'Occupation',  '',  ''],
			[ 'Death',  '8 September 1974',  'Nykøbing Sjælland',],
			[ 'Burrial',  '13 September 1974',  'Assistens Kirkegaard',],
	]

%}
{%

  set iHead= [ 'Event', 'Date', 'Place' ]
%}



<div class="card-body">

  {{ include('snippet/table.html.twig', {header: iHead, content: iEvent}) }}

</div>

