{% extends 'base.html.twig' %}

{#
    Formidler skabelon
#}

{% block title %}
  {{ documentTitle }}
{% endblock %}

{% block body %}
	<div class="container-xl">
		<div class="card _min-vh-100 shadow col-12" style="min-height: 100px">
			<div class="card-header h1 text-center">
					{{ documentTitle }}
			</div>
			<div class="card-body">
				{% block indhold %}
					<div class="row">
						<div class="col-8">
							{% block left %}
								Venstre kolonne brødtekst
							{% endblock %}
						</div>
						<div class="col-4">
							{% block right %}
								Højre kolonne brødtekst
							{% endblock %}
						</div>
					{% endblock %}
				</div>
			</div>
			<div class="card-footer text-bg-info bg-opacity-50 text-center">
				<p>Overlund</p>
				<p>
					For teknisk hjælp og slægtsspørgsmål, kontakt
					<a href="mailto:someone@example.com">Webmaster</a>
				</p>
				<p>
					<a href="{{ url('app_privacy_policy') }}">Privatlivspolitik</a>

				</p>

			</div>
		</div>
	{% endblock %}
