{% extends 'base.html.twig' %}

{% block body %}
  <!-- div class="container-fluid text-center" -->
  <!-- div class="d-flex align-items-center justify-content-center" -->

  <div class="row vh-100 align-items-center justify-content-center">
    <div class="col-sm-6">
      <div class="card shadow w-100">
        <div class="card-header h4 text-center">Formular Type B</div>
        <div class="card-body">Body</div>

        <div class="card-footer d-grid d-md-flex gap-2 justify-content-md-end">
          <button class="btn btn-sm shadow btn-outline-success" type="submit"><i class="bi bi-check-lg"></i></button>
          <button class="btn btn-sm shadow btn-outline-danger" type="button"><i class="bi bi-x-lg"></i></button>
          <button class="btn btn-sm shadow btn-outline-primary" type="button"><i class="bi bi-question-lg"></i></button>
        </div>
      </div>
    </div>
  </div>
  <!-- /div -->
  <!-- /div -->
{% endblock %}
